body {
	margin: 30px auto;
	background-color: #000;
	color: #fff;
	font-size: 18px;
	font-family: sans-serif;
	max-width: 650px;
	text-align: justify;
}

h1, h2, h3 {
	line-height: 1.2;
}

hr {
	border-color: #fff;
}

a:link {
	color: dodgerblue;
	text-decoration: none;
}

a:hover {
	color: cyan;
}

a:visited {
	color: hotpink;
}

img {
	max-width: 600px;
}

@media only screen and (max-width: 768px) {
	body {
		max-width: 90%;
		margin: 25px;
		font-size: 16px;
	}

	img {
		max-width: 95%;
	}
}
input, li, button {
    font-family: Verdana, sans-serif;
}

button {
    background: #494d64;
    color: #cad3f5;
    border: none;
    border-radius: 5px;
    padding: 3px 6px;
    margin: 2px;
  /*do it here instead*/
}


body {
    background-color: #24273a;
  overflow-x: hidden;
}

a:link { color: #8aadf4; text-decoration: none; } a:visited { color: #c6a0f6; }
ul { padding: 0 }

#messages>li {
	padding: 0.5rem 1rem;
}

@media screen and (min-width: 800px) {
  #messages>li:hover{
    background-color: #1d1d30;
	}
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #1d1d30;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #494d64;
  }
}

#messageButtons {
		background: rgba(0, 0, 0, 0.15);
		padding: 0.25rem;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    font-size: 20px;
	width: 100%;
	bottom: 0;
	position: fixed;
}

#message {
    background: #494d64;
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 0.25rem;
    margin: 0.25rem;
  color: #cad3f5;
  font-size: 17px;
}

#message:focus {
    outline: none;
    color: #cad3f5;
}

#form>button {
    background: #494d64;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 5px;
    outline: none;
    color: #cad3f5;
}